body {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace !important;
  --white: #fff;
  --black: #000;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;
  --red-500: #ec096f;
  --blue-500: #00b0f0;
  --text-size-80: 0.694rem;
  --text-size-90: 0.833rem;
  --text-size-100: 1rem;
  --text-size-200: 1.2rem;
  --text-size-300: 1.44rem;
  --text-size-400: 1.728rem;
  --text-size-500: 2.074rem;
  --text-size-600: 2.488rem;
  --text-size-700: 2.986rem;
}

h1 {
  font-size: var(--text-size-700);
  margin-bottom: var(--text-size-700);
}

h2 {
  font-size: var(--text-size-600);
  margin-bottom: var(--text-size-600);
}

h3 {
  font-size: var(--text-size-500);
  margin-bottom: var(--text-size-500);
}

h4 {
  font-size: var(--text-size-400);
  margin-bottom: var(--text-size-400);
}

h5 {
  font-size: var(--text-size-300);
  margin-bottom: var(--text-size-300);
}

h6 {
  font-size: var(--text-size-200);
  margin-bottom: var(--text-size-200);
}

p {
  font-size: var(--text-size-100);
  margin-bottom: var(--text-size-100);
}

small {
  font-size: var(--text-size-90);
}
